- attributes("title") = "Meterapp-Scalatra"
- attributes("headline") = "Meter Application Page"

div#mainDiv
	select#pageSelector
		option(value='Choose') Choose a page
		option(value='Page 01') Page 01
		option(value='Page 02') Page 02
		option(value='Page 03') Page 03
div#groupingsDiv
div#msgDiv
